* {
  padding: 0;
}

body {
  background: #7eace9;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  text-align: center;
}

table {
  background: #e9bb7e;
  width: 401px;
  border-collapse: collapse;
  border: 3px solid #000; /* Borde de la tabla */
}

th {
  border: 3px solid #000; /* Borde de las celdas */
  padding: 8px;
  width: 35px;
  font-family: "Press Start 2P", cursive;
}

.loop {
  width: 100%;
  height: 100%;
}
.video {
  width: 401px;
  height: 300px;
  outline: 3px solid #000;
  background: #ace97e;
}
.buttons {
  background: #e9bb7e;
  width: 399px;
  border: 3px solid #000;
}
.button {
  width: 120px;
}
.button:hover {
  filter: brightness(90%);
}
.button:active {
  transform: scale(0.98);
}

.content {
  background: #867ee9;
  border: 3px solid #000;
  color: #d1cfeb;
  font-weight: 900;
  width: 399px;
  height: 140px;
}
