/* Variables CSS */
:root {
  --color1: #ffce5b;
  --color2: #ff3f7a;
  --color3: #fc7498;
}

/* Estilos generales */
* {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
}

/* Estilos específicos de la pantalla principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to top, var(--color2) 0%, var(--color3));
  width: 100%;
  height:100%;
}

/* Estilos específicos para los títulos */
#h2_title {
  font-weight: 900;
}
.pink_colored {
  color: var(--color2);
}
.yellow_colored {
  color: var(--color1);
}
/* Estilos de la pantalla principal */
.screen {
  min-width: 470px;
  max-width: 85%;
  height: 613px;
  border-radius: 10px;
  background-color: var(--color1);
}
.play_screen {
  position: absolute;
  background-image: linear-gradient(to top, var(--color3) -100%, var(--color2));
  z-index: -10;
}

.home_screen,
.play_screen,
#dinamic_board {
  padding: 10px;
  padding-top: 20px;
  gap: 12px;
}
.play_view {
  display: flex;
  align-items: center;
  gap: 20px;
}

.token {
  width: 58px;
  height: 58px;
  border: 1px solid var(--color1);
  background-color: var(--color3);
  margin: 10px auto;
  border-radius: 50%;
  font-size: 50px;
  text-align: center;
  text-shadow: 0px 2px 2px #000;
  color: var(--color1);
  text-align: center;
  animation: floatAnimation 1.7s ease-in-out infinite;
}
.token * {
  user-select: none;
}
.token:hover {
  filter: brightness(95%);
}
.token:active {
  transform: scale(0.92);
}

.home_screen,
.play_screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* Estilos de la tabla */
#static_board,
#play_board {
  border-collapse: separate;
  border-spacing: 0;
}

#dinamic_board {
  position: absolute;
  top: 106px;
  display: grid;
  border-spacing: 0;
}
/* Estilos de las celdas especiales de la tabla */
.static_cell,
.play_cell {
  border: 2px solid var(--color3);
}

.static_cell,
.play_cell,
.dinamic_cell {
  width: 100px;
  height: 100px;
}
.dinamic_cell,
.play_cell {
  font-size: 80px;
  text-align: center;
  text-shadow: 0px 2px 2px #000;
}
.dinamic_cell {
  color: var(--color2);
}
#dinamic_table {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.play_cell {
  border: 2px dashed var(--color3);
}
.win_cell {
  animation: winCellAnimation 1.5s ease infinite;
}
.win_cell:nth-child(1) {
  animation-delay: 0.15s;
}
.win_cell:nth-child(2) {
  animation-delay: 0.3s;
}
.win_cell:nth-child(3) {
  animation-delay: 0.45s;
}
.win_token {
  animation: winTokenAnimation 1.5s ease infinite,
    floatAnimation 0.35s ease-in-out infinite;
}

/* Estilos del contenedor de jugadores */
#players_container,
#play_players_container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.buttons {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
/* Estilos de los jugadores y del botón de juego */
.players,
.play_btn {
  border: 2px solid var(--color2);
  font-family: "Courier New", Courier, monospace;
}

.players,
.play_players,
img {
  width: 85px;
  height: 95px;
  border-radius: 5px;
  overflow: hidden;
}
.play_players {
  border: 2px solid var(--color1);
}
/* Estilos del botón de juego */
.play_btn,
#fake_btn {
  padding: 2px;
  width: 95px;
  margin: 0 10px;
  height: fit-content;
  border-color: var(--color2);
  font-size: 12px;
  background-color: var(--color3);
  align-self: flex-end;
}
#fake_btn {
  opacity: 0;
}
/* Estilos del botón de juego cuando está activo */
.play_btn:active {
  transform: scale(0.95);
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes winCellAnimation {
  to {
    background-color: var(--color3);
    border: 2px dashed var(--color1);
  }
}

@keyframes winTokenAnimation {
  to {
    background-color: var(--color1);
    color: var(--color2);
    border: 2px solid var(--color3);
  }
}
