/* Estilos básicos */
body {
  font-family: Arial, sans-serif;
}

button {
  margin-bottom: 10px;
}

#books-container {
  margin-top: 20px;
}

.book {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.book button {
  margin-left: 5px;
}

/* Estilos para el formulario */
#book-form {
  margin-top: 20px;
}
